{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{% block choice_widget_expanded -%}
{#    {%- if '-inline' in label_attr.class|default('') -%}#}
{#        {%- for child in form %}#}
{#            {{- form_widget(child, {#}
{#                parent_label_class: label_attr.class|default(''),#}
{#                translation_domain: choice_translation_domain,#}
{#            }) -}}#}
{#        {% endfor -%}#}
{#    {%- else -%}#}
{#        <div {{ block('widget_container_attributes') }}>#}
{#            {%- for child in form %}#}
{#                {{- form_widget(child, {#}
{#                    parent_label_class: label_attr.class|default(''),#}
{#                    translation_domain: choice_translation_domain,#}
{#                }) -}}#}
{#            {%- endfor -%}#}
{#        </div>#}
{#    {%- endif -%}#}

    {{ parent() }}
    <hr>
{%- endblock choice_widget_expanded %}