{% extends 'base.html.twig' %}

{% block title %}{{ 'page.poll.create.title' | trans }}{% endblock %}

{% block body %}

<h1>{{ 'page.poll.create.title' | trans }}</h1>

{{ form(form) }}

{% endblock %}
