{% extends 'base.html.twig' %}

{% block title %}{{ 'page.poll.create.title' | trans }}{% endblock %}

{% block main_container %}

<h1>{{ 'page.poll.create.title' | trans }}</h1>

<div class="flex-row">
{{ form(form) }}
</div>


{% endblock %}
