<div class="spinner-container flex-fill">

    <span class="spinner spinner1">&#43612;</span>
    <span class="spinner spinner2">&#43612;</span>
    <span class="spinner spinner3">&#43612;</span>

</div>