{% extends 'base.html.twig' %}

{% block title %}{{ 'page.error.api_exception.title' | trans }}{% endblock %}

{% block main_container %}

    <h1>
        {{ 'page.error.api_exception.title' | trans }}
    </h1>

{% if isDev %}
    <div class="alert alert-danger">
        {{ apiResponse | raw }}
    </div>
{% endif %}

{% include "partials/spinner.html.twig" only %}

{% endblock %}
