{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{# Extends the debug bar with OAS transactions we made during the run. #}
{# Colors from sf-toolbar-status-red and such are not propagated to the toolbar icon. #}
{# Perhaps because this is sf4 and not sf5 ? #}

{% block toolbar %}

    {# Oddly, we need it here AND in the header block #}
    {% include 'data_collector/oas_api_style.html.twig' %}

    {# Shown in the bottom debug bar. #}
    {% set icon %}
        <span class="sf-toolbar-value">
            OAS
            {% if (collector.transactions | length) > 1 -%}
            {# Nowadays there a class "count" for this in sf I believe. #}
            <sup>{{ collector.transactions | length }}</sup>
            {%- endif %}
        </span>
    {% endset %}


    {# Shown on hover of the icon above. #}
    {% set text %}

    {% for transaction in collector.transactions %}
        {% include 'data_collector/oas_api_transaction.html.twig' %}
        {% if not loop.last %}<hr>{% endif %}
    {% endfor %}

    {% endset %}

    {% if collector.transactions %}
        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
    {% endif %}

{% endblock %}

{# Here we can link to or define our own CSS and JS contents. #}
{% block head %}
    {{ parent() }}
    {% include 'data_collector/oas_api_style.html.twig' %}
{% endblock %}

{# Left-hand menu of the fullscreen profiler. #}
{% block menu %}
    <span class="label">
{#        <span class="icon"><img src="..." alt=""/></span>#}
        <strong title="OpenApi Logs">OAS</strong>
    </span>
{% endblock %}

{# Right-hand panel of the fullscreen profiler. #}
{% block panel %}
    <h2>OpenAPI Transactions</h2>
    {% for transaction in collector.transactions %}
        {% include 'data_collector/oas_api_transaction.html.twig' %}
        {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}