// customize some Bootstrap variables

// Our content is small, let's adapt.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 940px,
        xl: 1000px
);

$primary: #537b65;
$link-color: #e6d79c;
$body-color: #e1ded2;
$body-bg: #25250f;

$spacer: 2.618rem;
$headings-margin-bottom: $spacer / 1.1 !default;

// Modded Darkly
@import "_variables";

// Local imports
@import "spinner";


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    & > header {
        padding: 0.3em 1em;
    }

    & > footer {
      flex-shrink: 0;
      background-color: lighten($body-bg, 10%);
      padding: 2em 1em;
    }
}

body > .content.container {
    flex: 1 0 auto;
}

///
///

.alert-error {
    @extend .alert-danger;
}

.line {
    display: inline-block;
}

///
///

//h2 {
//    margin-top: 1em;
//}
