
@import "_variables";

$spinner-color: $body-font-color !default;
$spinner-size: 128px !default;
$spinner-period: 0.9s !default;


.spinner-container {
  //min-width: $spinner-size;
  //min-height: $spinner-size;
  //background: #f93;
  position: relative;

  .spinner {
    pointer-events: none;
    user-select: none;
    font-size: $spinner-size;

    position: absolute;
    top: calc(50% - #{$spinner-size / 2});
    left: calc(50% - #{$spinner-size / 2});

    color: $spinner-color;
    text-shadow: rgba(226, 226, 0, 0.42) 0 0 35px;

    -webkit-animation:spin $spinner-period ease-out infinite;
    -moz-animation:spin $spinner-period ease-out infinite;
    animation:spin $spinner-period ease-out infinite;
  }

  .spinner1 {
    color: darken($spinner-color, 10%);
  }
  .spinner2 {
    color: darken($spinner-color, 5%);
    animation-delay: $spinner-period / 3;
  }
  .spinner3 {
    animation-delay: 2 * $spinner-period / 3;
  }
}

@-o-keyframes spin {
  100% { -o-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  100% { transform:rotate(-360deg); }
}
