$spinner-size: 128px;
$period: 0.8s;


.spinner-container {
  background: #f93;

  .spinner {
    pointer-events: none;
    user-select: none;
    font-size: $spinner-size;
    position: absolute;
    top: calc(50% - #{$spinner-size / 2});
    left: calc(50% - #{$spinner-size / 2});
    //background: #f39;
    text-shadow: rgba(226, 226, 0, 0.42) 0 0 35px;

    -webkit-animation:spin $period ease-out infinite;
    -moz-animation:spin $period ease-out infinite;
    animation:spin $period ease-out infinite;
  }

  .spinner1 {
    color: darken($body-color, 10%);
  }
  .spinner2 {
    animation-delay: $period / 3;
    color: darken($body-color, 5%);
  }
  .spinner3 {
    animation-delay: 2 * $period / 3;
  }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  100% { transform:rotate(-360deg); }
}