<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'meta.title' }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block stylesheets_extra %}{% endblock %}
    </head>
    <body>
{% block body %}

{% block header %}
    <header>
        <a href="{{ path('home') }}" class="btn btn-outline-secondary">
            &#127968;
        </a>
    </header>
{% endblock %}

{% block flash_messages %}
{% include "partials/flash_messages.html.twig" only %}
{% endblock %}

{% block main_container_wrapper %}
    <div class="content container">
{% block main_container %}{% endblock %}
    </div>
{% endblock %}

{% endblock %}
{% block footer %}
    <footer>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-5">
                <a href="https://mieuxvoter.fr">MieuxVoter</a>
                &copy; 2020
                </div>
            <div class="col-3">
                {{ shivas_app_version }}
            </div>
        </div>

    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
    </body>
</html>
